version: '3.9'
services:
  backend:
    build: 
      context: .
    ports:
      - 8080:8080
    volumes:
      - .:/${GOPATH}/src/github.com/orlandoromo97/mailx-google-service
    depends_on:
      - db
  db:
    image: postgres:14-alpine
    env_file:
      - .env
    volumes:
      - "dbdata:/var/lib/postgresql/data"
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
    ports:
      - 5432:5432
volumes:
  dbdata:


    